<img src="http://vignette3.wikia.nocookie.net/disney/images/b/bf/Robot_Dogs.jpg/revision/latest?cb=20140222221557" alt="chimi"/>

<form action="/{{dog.name}}/edit" method="post">
  <input type="text" name="name" placeholder="name" value={{dog.name}}>
  <input type="url" name="image" placeholder="image">
  <input type="text" name="breed" placeholder="breed">
  <input type="number" min="0" max="10" name="awesome_level" placeholder="1">
  <input type="text" name="fav_toy" placeholder="fav_toy">
<button type="submit">Edit</button>
</form>
